@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Humane";
  src:
    local("Humane"),
    url("/public/Humane.ttf") format("truetype");
}
@font-face {
  font-family: "Humane";
  src:
    local("Humane Bold"),
    url("/public/Humane_Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Swansea";
  src:
    local("Swansea"),
    url("/public/Swansea.ttf") format("truetype");
} */

.emoji-bg {
  background:
    url("/sphere.webp") no-repeat 50% 50%,
    rgb(85, 70, 255);
  background-size: cover;
}

html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}
